<div style="text-align: center">
  <h1>
    Trabalho do site meoflix  
  </h1>


  <h2>Hello World</h2>
  <p>
    Hora de agora: <%= Time.now %>
  </p>
  <img src="https://meoflix.com/images/logo-meoflix.png" />
  <br />
  <br />
  <br />
  <p>
    Produzido por Marcos e Letícia em: https://github.com/MarconiVini/single-page-cube
  </p>
</div>